node_modules/*
*.DS_Store
*.pyc
*.csv
*.log
server/venv/*
server/log_folders/*/*
server/.coverage
client/bundle.js
client/node_modules/
client/coverage/
client/.nyc_output/
.DS_Store
.vscode/
client/package-lock.json
client/bundle.js.map
client/.DS_Store
data-collector/venv/*
data-collector/.venv/*