version: 2.1

orbs:
  python: circleci/python@2.1.1
  node: circleci/node@5.1.0
  gcp-gke: circleci/gcp-gke@2.0.0

jobs:
  build-backend:
    executor:
      name: python/default
    working_directory: ~/repo/CSCI-5828-Foundations-Sftware-Engr/agile-avengers/
    steps:
      - checkout
      - run:
          command: |
            cd server
            pip install --upgrade pip
            pip install -r requirements.txt
  build-frontend:
    executor:
      name: node/default
    working_directory: ~/repo/CSCI-5828-Foundations-Sftware-Engr/agile-avengers/
    steps:
      - checkout
      - run:
          command: |
            cd client
            npm install
  deploy-app:
    executor: gcp-gke/default
    working_directory: ~/repo/CSCI-5828-Foundations-Sftware-Engr/agile-avengers/
    steps:
      - checkout
      - gcp-gke/configure-access:
          service-account-email: circleci-agile-avengers@agile-avengers-aish.iam.gserviceaccount.com
          project-id: agile-avengers-aish
          cluster-name: agile-avengers
      - run:
          name: Authenticate with GKE
          command: gcloud auth activate-service-account --key-file=$GOOGLE_APPLICATION_CREDENTIALS
      - run:
          name: Set Kubernetes context
          command: gcloud container clusters get-credentials agile-avengers --zone us-central1 --project gile-avengers-aish
      - run:
          name: Deploy keycloak
          command: |
            cd keycloak
            make deploy
      - run:
          name: Deploy Postgres
          command: |
            cd postgres
            make deploy
      - run:
          name: Deploy Service
          command: |
            cd server
            make build
            make delete || true
            make deploy

workflows:
  test_my_app:
    jobs:
      - build-backend
      - build-frontend
      - deploy-app
